#devops
black
pytest
pytest-cov
pylint
click
boto3
#web
fastapi
uvicorn
#datascience
jupyter
pandas
numpy
scikit-learn
matplotlib
seaborn
dask[distributed]
#geo
geopy
#MLOps
gradio
streamlit
protobuf==3.16.0
onnx
mlflow
databricks
databricks-cli
databricks-sql-connector
##MLOps-HuggingFace
transformers
datasets
tokenizers
#deep learning
torch 
torchvision
tensorflow


